<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RainStationApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DB920BD1EB1806C009E3307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DB920D61EB1806C009E3307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DB920E11EB1806D009E3307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
